@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css or a scoped CSS file */
.modal-center .nextui-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; /* Ensure it's on top */
  background-color: rgba(0, 0, 0, 0.5); /* Optional backdrop */
}